streamlit
langchain
langchain-groq
pypdf
langchain-text-splitters
langchain-community
langchain-huggingface
sentence-transformers
torch
torchvision
python-dotenv
chromadb
pymupdf4llm
pymupdf
flashrank
langchain<1.0.0
