streamlit
langchain
langchain-groq
pypdf
langchain-text-splitters
langchain-community
langchain-huggingface
sentence-transformers
torch
python-dotenv
chromadb
pymupdf4llm
pymupdf
flashrank
langchain
langchain-classic
duckduckgo-search
ddgs
